<%= link_to("Logout",  logout_path, method: :delete) %>
<h1>this be you</h1>
<p><%= @user.email %></p>
<div><%= image_tag @user.image.url %></div>
<p><%= link_to "edit yo self", edit_user_path(@user) %></p>

	